<template>
  <div id="app">
    <div class="header">
      <img src="./assets/logo.svg">
    </div>

    <div class="seats-wrapper">

      <div class="section" v-for="section in sections" >
        <h3 class="section-name">
          {{section.name}}
        </h3>
        <div class="row" v-for="row in section.rows">
          <div class="seat" v-for="seat in row.seats" :style="'background: ' + checkGroup(section.name, row.row, seat.seat).color">
              <span>
                {{seat.seat}}
              </span>
              <span class="rank"  :style="'background: ' + rankColors[seat.rank]" ></span>
              <span class="status" :style="'border: 2px solid ' + rankColors[seat.rank]">
                <span v-if="!checkGroup(section.name, row.row, seat.seat).id">AVAILABLE <br></span>
                <span v-if="checkGroup(section.name, row.row, seat.seat).id">
                  group: {{checkGroup(section.name, row.row, seat.seat).id}} <br>
                </span>
                <span v-if="!checkGroup(section.name, row.row, seat.seat).id">
                  rank: {{seat.rank}} <br>
                </span>
                <!-- section: {{section.name}} <br> -->
                <!-- row: {{row.row}} <br> -->
                <!-- number: {{seat.seat}} <br> -->
              </span>
          </div>
        </div>
      </div>

    </div>

  </div>
</template>

<script>


export default {
  name: 'app',
  components: {
  },
  data () {
    return {
      groups: null,
      sections: null,
      rankColors: {rank1:'red', rank2: 'green', rank2: 'purple'},
      groupColors: []
    }
  },
  methods: {
    createColorGroups(){ // creating random colors for groups
      let createRandomRGB = () => {
        let randomC = Math.floor(Math.random() * 255);
        return randomC;
      }
      for (var i = 0; i < this.groups.length; i++) {
        let color = createRandomRGB() + ',' + createRandomRGB() + ',' + createRandomRGB();
        this.groupColors.push(color);
      }
    },
    checkGroup(section, row, seat){ // each seat gets checked, if the seat is occupied by some group
      let gColor;
      let gID;
      this.groups.forEach( (g, index) =>{
        g.seats.forEach(s => {
          if(s.section == section && s.row == row && s.seat == seat){
            gColor = 'rgba(' + this.groupColors[index] + ',0.4)';
            gID = g.id;
          }
        })

      })
      return {color: gColor,  id: gID};
    },
    fetchDataGroups(){ // http request for gettind local json
      let getUrl = window.location.origin + '/data/groups.json';
      this.$http.get( getUrl )
      .then( response => {
        return response.json();
      }).then(data => {
        this.groups = data.groups;
        this.createColorGroups();
      })
    },
    fetchDataLayout(){ //  http request for gettind local json
      let getUrl = window.location.origin + '/data/layout.json';
      this.$http.get( getUrl )
      .then( response => {
        return response.json();
      }).then(data => {
        this.sections = data.layout.sections;
      })
    }
  },
  mounted() {
    this.fetchDataGroups();
    this.fetchDataLayout();
  }

}
</script>

<style lang="scss">
body{
  margin: 0px;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
}
.header{
  padding: 35px;
  color: white;
  background-image: linear-gradient(-55deg,#552a7b,#ff5252 50%,#ff5852 70%,#ff6b52 90%);
}
.section-name{
  max-width: 400px;
  margin: 35px auto 20px;
  padding: 10px;
  border-bottom: 2px solid grey;
}
.seat{
  padding-bottom: 5px;
  width: 35px;
  height: 35px;
  margin: 5px;
  position: relative;
  display: inline-block;
  &:hover{
    .status{
      opacity: 1;
      z-index: 1;
    }
  }
  .rank{
    left: 0px;
    position: absolute;
    bottom: 0px;
    height: 5px;
    width: 100%;
  }
  .status{
    width: 200px;
    transition: ease all 0.3s;
    margin:  0 auto;
    right: 0px;
    left: 0px;
    padding: 10px;
    z-index: -1;
    opacity: 0;
    position: absolute;
    bottom: 40px;
    background: white;
    border-radius: 7px;
  }
}

</style>
